* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background-color: #000;
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 1;
}

#network,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#battery,
#idle_inhibitor,
#tray,
#clock {
  padding: 0 2px;
  color: #fff;
}

#network {
  background-color: #627;
  color: #FFF
}

#network.ethernet {
  background-color: #000;
  color: #FFF
}

#network.disconnected {
  background-color: #900;
}

#cpu {
  background-color: #B28;
  color: #FFF;
}

#memory {
  background-color: #627;
  color: #FFF;
}

#disk {
  background-color: #B28;
  color: #FFF;
}

#temperature {
  background-color: #000;
  color: #FFF;
}

#temperature.critical {
  background-color: #800;
  color: #FFF;
}

#backlight {
  background-color: #000;
}

#pulseaudio {
  background-color: #000;
}

#battery {
  background-color: #000;
  color: #FFF;
}

#battery.charging, #battery.plugged {
  background-color: #000;
  color: #FFF;
}

@keyframes blink {
  to {
    background-color: #FF0;
    color: #000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #900;
  color: #FFF;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#idle_inhibitor {
  background-color: #000;
}

#idle_inhibitor.activated {
  background-color: #000;
}

#tray {
  background-color: #000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #800;
}

#clock {
  background-color: #000000;
}
